<h1>Character</h1>

<p>
  <strong>Name:</strong>
  <%= @character.name %>
</p>

<p>
  <strong>Class:</strong>
  <%= @character.character_class %>
</p>

<h2>Character Sheets</h2>
<%= link_to 'New sheet', new_character_sheet_path(@character) %>
<%= render partial: 'sheets/list', locals: { sheets: @character.sheets } %>

<p>
  <%= link_to 'Edit', edit_character_path(@character) %>
  <%= link_to 'Back', characters_path %>
</p>