<p>
  <strong>Name:</strong>
  <%= @character.name %>
</p>

<p>
  <strong>Class:</strong>
  <%= @character.character_class %>
</p>

<h2>Character Sheets</h2>
<%= render @character.sheets %>

<h2>Add a character sheet:</h2>
<%= render 'sheets/form' %>

<%= link_to 'Edit', edit_character_path(@character) %>
<%= link_to 'Back', characters_path %>